/* ---------------------------- BASE GRAPHICS ---------------------------- */

.main-footer {
  padding-left:5%;
  z-index:1;
  background-color:#f5f7fa;
  position:fixed; bottom:0px; width:102%; height:60px;
  box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, .14);
}

.material-icons:hover {
  color:rgb(24,111,171);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* ---------------------------- END BASE GRAPHICS ---------------------------- */

/* ---------------------------- DESIGN SCROLLBAR for webkit browsers ---------------------------- */

::-webkit-scrollbar { width: 8px; }
 ::-webkit-scrollbar:horizontal { height: 8px; }
/* Track */
/* ::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 1px; border-radius: 1px; } */
/* Handle */
::-webkit-scrollbar-thumb { -webkit-border-radius: 0px; border-radius: 0px; background: #999; /*-webkit-box-shadow: inset 0 0 6px rgb(66,66,66);*/ }
::-webkit-scrollbar-thumb:window-inactive { background: rgb(66,66,66); }

/* ---------------------------- END DESIGN SCROLLBAR for webkit browsers ---------------------------- */

/* ---------------------------- VIRTUAL ASSISTANT ---------------------------- */

.to-watson    { text-align: right; color: #3d70b2; margin: 10px 0px 10px 0px; }
.from-watson  { text-align: left; color: #bbbbbb; margin: 10px 0px 10px 0px; }
.latest { text-align: left; color: #000000; }
.toggle-assistant { position:fixed;right:5%;bottom:17px;cursor:pointer; }
#virtual-assistant { max-height:300px; overflow:scroll; display:none; background-color:#f5f7fa; }
#virtual-assistant-container { background-color:#f5f7fa; position:fixed!important; bottom:40px; padding:5px; right:0%; left:0%; width:100%; box-shadow:0 -1px 5px 1px rgba(0,0,0,0.15); }
#chat-form { position:absolute; bottom:10px; width:95%; background-color:#f5f7fa;display:none }
#chat-button { vertical-align: middle; min-width: 20px!important; }
#input-ask { width: 70%; }

@media all and (min-width: 1200px) {
  #virtual-assistant { max-height:450px; overflow:scroll; display:none; background-color:#ffffff; }
  #virtual-assistant-container { position:fixed!important; bottom:50px; padding:0px; right:5%!important; left:70%!important; width:450px; background-color:#ffffff; box-shadow:0 2px 2px 0 rgba(0,0,0,0.15); }
  #chat-form { position:absolute; bottom:10px; width:85%; background-color:#FFFFFF; display:none }
  #input-ask { width: 80%; }
}

/* -------------------------- END VIRTUAL ASSISTANT -------------------------- */
